@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gmarket Sans TTF';
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
}

